---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Drinks from '../components/Drinks.astro';
import Staff from '../components/Staff.astro';
import Footer from '../components/Footer.astro';
import PotionSlider from '../components/DrinkSlider.jsx';
import Video from '../components/Video.astro';
---

<Layout>
  <main class="min-h-screen">
    <Navbar />
    <Hero />
    <Video />
    <About />
    <PotionSlider client:load />
    <!-- <Drinks /> -->
    <Staff />
    <Footer />
  </main>
</Layout>
