<section id="about" class="relative w-full bg-cover bg-center gap-[4rem] flex justify-center py-[4rem]" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.36) 100%), url('./images/background_slide.avif');">
  <div class="flex flex-col just max-w-[1440px] gap-[3rem] px-[0.875rem] md:px-[4rem]">
    <h2 class="font-[gobernador] text-[5rem]/[0.8em] text-white mb-6">
      Make Drinks Nonstop
    </h2>
    
    <div class="font-poppins text-[1rem] font-normal space-y-6 text-white">
      <p>
        Could you manage an ingredient-less bar? Us neither. But, Where should we get them then? In our game, you'll be preparing 
        <span class="font-bold text-primary">multiple drinks, searching the ingredients</span> within different paintings. Wait. 
        <span class="font-bold text-primary">Paintings?!</span> Yes! The import taxes are way too high, and we can't really afford them. 
        so being able to teleport into these images is very convenient... Now we just need to... if it was only possible to... if only Welcome to 
        <span class="font-bold text-primary">Spirits Bar!</span> 👻
      </p>

      <p>
        Spirits Bar is a videogame focused on 
        <span class="font-bold text-primary">cocktail preparation and platforming</span> in which the player will manage a bar whose patrons are... ghosts! 
        They'll come to your bar while you try to search and collect 
        <span class="font-bold text-primary">the different ingredients within the paintings</span>. ✨
      </p>
    </div>

    <div class="relative flex flex-col gap-4 mt-8 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-4">
      <img src="./images/about/capture1.avif" alt="Capture of Spirits Bar gameplay on ordering drinks">
      <img src="./images/about/capture2.avif" alt="Capture of Spirits Bar gameplay on talking with a ghost">
      <img src="./images/about/capture3.avif" alt="Capture of Spirits Bar gameplay on preparing drinks">
      <img src="./images/about/capture4.avif" alt="Capture of Spirits Bar gameplay on collecting ingredients">
      <img class="hidden md:block absolute w-50 aspect-square object-contain -left-20 right-1 -rotate-6" src="./images/decoration/marco.avif" alt="marco">
      <img class="hidden md:block absolute w-50 aspect-square object-contain -right-20 bottom-1 rotate-16 transform -scale-x-100" src="./images/decoration/skull.avif" alt="skull">
    </div>
  </div>
</section>
