---
---

<footer class="bg-[#0d0d11] py-[4rem] px-6">
  <div class="font-[gobernador] flex flex-col items-center gap-10">
    <img src="./images/logo_white.avif" alt="">

    <div class="text-[2rem] mx-auto flex flex-col justify-center items-center gap-[1rem]">
      <a href="#about" class="text-white hover:text-primary transition-colors">
        About the game
      </a>
      <a href="#drinks" class="text-white hover:text-primary transition-colors">
        Drinks
      </a>
    </div>

    <div class="flex items-center gap-[1rem]">
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
        <svg width="50" height="50" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_43_66)">
              <path d="M4.172 2.287C2.776 3.115 0.027 6.271 0 7.099V8.474C0 10.209 1.625 11.741 3.099 11.741C4.87 11.741 6.35 10.272 6.35 8.528C6.35 10.272 7.771 11.741 9.547 11.741C11.318 11.741 12.698 10.272 12.698 8.528C12.698 10.272 14.214 11.741 15.985 11.741H16.017C17.793 11.741 19.308 10.272 19.308 8.528C19.308 10.272 20.689 11.741 22.46 11.741C24.231 11.741 25.657 10.272 25.657 8.528C25.657 10.272 27.132 11.741 28.902 11.741C30.381 11.741 32.006 10.209 32.006 8.474V7.099C31.974 6.271 29.23 3.115 27.829 2.287C23.49 2.131 20.485 2.104 16.006 2.104C11.522 2.109 5.413 2.177 4.178 2.287H4.172ZM12.677 10.921C12.5062 11.2141 12.2959 11.4822 12.052 11.718V11.723C11.3562 12.4002 10.4239 12.7793 9.453 12.78C8.48064 12.7809 7.547 12.3991 6.854 11.717C6.61669 11.4853 6.41455 11.2202 6.254 10.93C6.087 11.227 5.854 11.482 5.609 11.717C4.916 12.3991 3.98236 12.7809 3.01 12.78H3.005C2.88547 12.7748 2.76759 12.7502 2.656 12.707C2.5343 14.0162 2.45958 15.3294 2.432 16.644V16.649C2.427 17.176 2.427 17.602 2.421 18.201C2.453 21.316 2.114 28.29 3.797 30.004C6.401 30.608 11.193 30.884 15.994 30.889H15.999C20.806 30.884 25.592 30.608 28.196 30.004C29.879 28.291 29.54 21.316 29.572 18.201C29.567 17.602 29.567 17.176 29.561 16.649V16.644C29.5361 15.3293 29.4614 14.016 29.337 12.707C29.226 12.752 29.1078 12.7768 28.988 12.78H28.983C28.0106 12.7809 27.077 12.3991 26.384 11.717H26.389C26.144 11.482 25.91 11.228 25.744 10.93H25.739C25.58 11.2199 25.3795 11.485 25.144 11.717C24.4503 12.398 23.5171 12.7795 22.545 12.7795C21.5729 12.7795 20.6397 12.398 19.946 11.717C19.7054 11.4845 19.4984 11.2196 19.331 10.93L19.32 10.914C19.148 11.222 18.94 11.487 18.705 11.717C18.012 12.3991 17.0784 12.7809 16.106 12.78H16.101C16.069 12.7807 16.0343 12.779 15.997 12.775C15.961 12.779 15.9247 12.7807 15.888 12.78H15.883C14.9127 12.7794 13.9815 12.3976 13.29 11.717C13.0495 11.486 12.8443 11.2208 12.681 10.93L12.67 10.914L12.677 10.921ZM10.005 14.375C11.062 14.38 12 14.375 13.166 15.646C14.082 15.553 15.041 15.506 15.999 15.506C16.957 15.506 17.916 15.553 18.832 15.646C19.999 14.375 20.936 14.375 21.993 14.375H21.998C22.498 14.375 24.498 14.375 25.889 18.287L27.384 23.656C28.493 27.651 27.029 27.751 25.207 27.751C22.499 27.651 20.999 25.683 20.999 23.714C19.499 23.965 17.748 24.085 15.999 24.085C14.25 24.085 12.499 23.965 11.004 23.714C11.004 25.683 9.504 27.651 6.796 27.751C4.968 27.746 3.504 27.651 4.613 23.656L6.108 18.287C7.504 14.375 9.504 14.375 10.004 14.375H10.005ZM16 17.453C15.995 17.453 13.151 20.073 12.636 21L14.5 20.927V22.552C14.5 22.631 15.251 22.599 16 22.563C16.749 22.599 17.495 22.631 17.495 22.552V20.927L19.364 21C18.849 20.073 16 17.453 16 17.453Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_43_66">
              <rect width="32" height="32" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
              </defs>
        </svg>
      </a>
      <a href="https://steam.com" target="_blank" rel="noopener noreferrer">
        <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.4 3.08331H21.6C25.8667 3.08331 29.3334 6.44165 29.3334 10.575V21.425C29.3334 23.4119 28.5186 25.3174 27.0683 26.7224C25.618 28.1273 23.651 28.9166 21.6 28.9166H10.4C6.13335 28.9166 2.66669 25.5583 2.66669 21.425V10.575C2.66669 8.58807 3.48145 6.68253 4.93173 5.27757C6.38201 3.87261 8.34901 3.08331 10.4 3.08331ZM10.1334 5.66665C8.86031 5.66665 7.63942 6.15656 6.73924 7.0286C5.83907 7.90064 5.33335 9.08339 5.33335 10.3166V21.6833C5.33335 24.2537 7.48002 26.3333 10.1334 26.3333H21.8667C23.1397 26.3333 24.3606 25.8434 25.2608 24.9714C26.161 24.0993 26.6667 22.9166 26.6667 21.6833V10.3166C26.6667 7.74623 24.52 5.66665 21.8667 5.66665H10.1334ZM23 7.60415C23.442 7.60415 23.866 7.77425 24.1785 8.07705C24.4911 8.37984 24.6667 8.79052 24.6667 9.21873C24.6667 9.64694 24.4911 10.0576 24.1785 10.3604C23.866 10.6632 23.442 10.8333 23 10.8333C22.558 10.8333 22.1341 10.6632 21.8215 10.3604C21.5089 10.0576 21.3334 9.64694 21.3334 9.21873C21.3334 8.79052 21.5089 8.37984 21.8215 8.07705C22.1341 7.77425 22.558 7.60415 23 7.60415ZM16 9.54165C17.7681 9.54165 19.4638 10.2221 20.7141 11.4332C21.9643 12.6444 22.6667 14.2871 22.6667 16C22.6667 17.7128 21.9643 19.3555 20.7141 20.5667C19.4638 21.7779 17.7681 22.4583 16 22.4583C14.2319 22.4583 12.5362 21.7779 11.286 20.5667C10.0357 19.3555 9.33335 17.7128 9.33335 16C9.33335 14.2871 10.0357 12.6444 11.286 11.4332C12.5362 10.2221 14.2319 9.54165 16 9.54165ZM16 12.125C14.9392 12.125 13.9217 12.5332 13.1716 13.2599C12.4214 13.9866 12 14.9723 12 16C12 17.0277 12.4214 18.0133 13.1716 18.74C13.9217 19.4667 14.9392 19.875 16 19.875C17.0609 19.875 18.0783 19.4667 18.8284 18.74C19.5786 18.0133 20 17.0277 20 16C20 14.9723 19.5786 13.9866 18.8284 13.2599C18.0783 12.5332 17.0609 12.125 16 12.125Z" fill="white"/>
        </svg>
      </a>
    </div>

    <div class="text-[1.5rem] font-bold text-base text-white text-center">
      Copyright © 2025 PixPerfect. All rights reserved.
    </div>
  </div>
</footer>
