<section class="w-full bg-terceary py-12 flex items-center justify-center">
  <div class="max-w-[1440px] w-full px-[0.875rem] md:flex-row md:items-start md:justify-start aspect-video md:px-[4rem]">    
    <iframe
    width="100%" 
    height="100%" 
    src="https://www.youtube.com/embed/Im7PBHFGZr0?si=TwobX9xEaLxg5NAt" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen></iframe>
  </div>
</section>
